xcmis-wssoap-client/src/main/resources/wsdl/Repository-Service.wsdl

<?xml version="1.0" ?><definitions name="CMISWebServices" targetNamespace="http://docs.oasis-open.org/ns/cmis/ws/200908/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cmis="http://docs.oasis-open.org/ns/cmis/core/200908/" xmlns:cmism="http://docs.oasis-open.org/ns/cmis/messaging/200908/" xmlns:cmisw="http://docs.oasis-open.org/ns/cmis/ws/200908/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <types>
      <xsd:schema elementFormDefault="qualified"
         targetNamespace="http://docs.oasis-open.org/ns/cmis/ws/200908/">
         <xsd:import schemaLocation="CMIS-Core.xsd"
            namespace="http://docs.oasis-open.org/ns/cmis/core/200908/" />
         <xsd:import schemaLocation="CMIS-Messaging.xsd"
            namespace="http://docs.oasis-open.org/ns/cmis/messaging/200908/" />
      </xsd:schema>
   </types>
  <message name="getContentChangesResponse">
    <part element="cmism:getContentChangesResponse" name="parameters">
    </part>
  </message>
  <message name="createPolicyResponse">
    <part element="cmism:createPolicyResponse" name="parameters">
    </part>
  </message>
  <message name="updatePropertiesRequest">
    <part element="cmism:updateProperties" name="parameters">
    </part>
  </message>
  <message name="getTypeDefinitionRequest">
    <part element="cmism:getTypeDefinition" name="parameters">
    </part>
  </message>
  <message name="createFolderResponse">
    <part element="cmism:createFolderResponse" name="parameters">
    </part>
  </message>
  <message name="getTypeDescendantsResponse">
    <part element="cmism:getTypeDescendantsResponse" name="parameters">
    </part>
  </message>
  <message name="getFolderParentResponse">
    <part element="cmism:getFolderParentResponse" name="parameters">
    </part>
  </message>
  <message name="queryRequest">
    <part element="cmism:query" name="parameters">
    </part>
  </message>
  <message name="getRepositoryInfoResponse">
    <part element="cmism:getRepositoryInfoResponse" name="parameters">
    </part>
  </message>
  <message name="getAppliedPoliciesResponse">
    <part element="cmism:getAppliedPoliciesResponse" name="parameters">
    </part>
  </message>
  <message name="getFolderTreeResponse">
    <part element="cmism:getFolderTreeResponse" name="parameters">
    </part>
  </message>
  <message name="cancelCheckOutRequest">
    <part element="cmism:cancelCheckOut" name="parameters">
    </part>
  </message>
  <message name="getAppliedPoliciesRequest">
    <part element="cmism:getAppliedPolicies" name="parameters">
    </part>
  </message>
  <message name="createPolicyRequest">
    <part element="cmism:createPolicy" name="parameters">
    </part>
  </message>
  <message name="checkInRequest">
    <part element="cmism:checkIn" name="parameters">
    </part>
  </message>
  <message name="checkOutRequest">
    <part element="cmism:checkOut" name="parameters">
    </part>
  </message>
  <message name="getAllVersionsResponse">
    <part element="cmism:getAllVersionsResponse" name="parameters">
    </part>
  </message>
  <message name="getTypeDefinitionResponse">
    <part element="cmism:getTypeDefinitionResponse" name="parameters">
    </part>
  </message>
  <message name="getObjectRelationshipsResponse">
    <part element="cmism:getObjectRelationshipsResponse" name="parameters">
    </part>
  </message>
  <message name="createDocumentRequest">
    <part element="cmism:createDocument" name="parameters">
    </part>
  </message>
  <message name="getTypeDescendantsRequest">
    <part element="cmism:getTypeDescendants" name="parameters">
    </part>
  </message>
  <message name="getRepositoryInfoRequest">
    <part element="cmism:getRepositoryInfo" name="parameters">
    </part>
  </message>
  <message name="getObjectOfLatestVersionRequest">
    <part element="cmism:getObjectOfLatestVersion" name="parameters">
    </part>
  </message>
  <message name="getChildrenResponse">
    <part element="cmism:getChildrenResponse" name="parameters">
    </part>
  </message>
  <message name="deleteTreeResponse">
    <part element="cmism:deleteTreeResponse" name="parameters">
    </part>
  </message>
  <message name="deleteTreeRequest">
    <part element="cmism:deleteTree" name="parameters">
    </part>
  </message>
  <message name="createDocumentFromSourceResponse">
    <part element="cmism:createDocumentFromSourceResponse" name="parameters">
    </part>
  </message>
  <message name="getObjectByPathResponse">
    <part element="cmism:getObjectByPathResponse" name="parameters">
    </part>
  </message>
  <message name="cmisException">
    <part element="cmism:cmisFault" name="fault">
    </part>
  </message>
  <message name="checkInResponse">
    <part element="cmism:checkInResponse" name="parameters">
    </part>
  </message>
  <message name="getObjectRequest">
    <part element="cmism:getObject" name="parameters">
    </part>
  </message>
  <message name="getFolderParentRequest">
    <part element="cmism:getFolderParent" name="parameters">
    </part>
  </message>
  <message name="applyACLResponse">
    <part element="cmism:applyACLResponse" name="parameters">
    </part>
  </message>
  <message name="getContentStreamRequest">
    <part element="cmism:getContentStream" name="parameters">
    </part>
  </message>
  <message name="getCheckedOutDocsRequest">
    <part element="cmism:getCheckedOutDocs" name="parameters">
    </part>
  </message>
  <message name="getCheckedOutDocsResponse">
    <part element="cmism:getCheckedOutDocsResponse" name="parameters">
    </part>
  </message>
  <message name="deleteContentStreamResponse">
    <part element="cmism:deleteContentStreamResponse" name="parameters">
    </part>
  </message>
  <message name="getAllowableActionsResponse">
    <part element="cmism:getAllowableActionsResponse" name="parameters">
    </part>
  </message>
  <message name="addObjectToFolderRequest">
    <part element="cmism:addObjectToFolder" name="parameters">
    </part>
  </message>
  <message name="getObjectRelationshipsRequest">
    <part element="cmism:getObjectRelationships" name="parameters">
    </part>
  </message>
  <message name="getPropertiesOfLatestVersionResponse">
    <part element="cmism:getPropertiesOfLatestVersionResponse" name="parameters">
    </part>
  </message>
  <message name="createDocumentFromSourceRequest">
    <part element="cmism:createDocumentFromSource" name="parameters">
    </part>
  </message>
  <message name="getTypeChildrenRequest">
    <part element="cmism:getTypeChildren" name="parameters">
    </part>
  </message>
  <message name="getContentChangesRequest">
    <part element="cmism:getContentChanges" name="parameters">
    </part>
  </message>
  <message name="setContentStreamRequest">
    <part element="cmism:setContentStream" name="parameters">
    </part>
  </message>
  <message name="getRenditionsResponse">
    <part element="cmism:getRenditionsResponse" name="parameters">
    </part>
  </message>
  <message name="applyPolicyRequest">
    <part element="cmism:applyPolicy" name="parameters">
    </part>
  </message>
  <message name="removeObjectFromFolderRequest">
    <part element="cmism:removeObjectFromFolder" name="parameters">
    </part>
  </message>
  <message name="getObjectByPathRequest">
    <part element="cmism:getObjectByPath" name="parameters">
    </part>
  </message>
  <message name="getPropertiesRequest">
    <part element="cmism:getProperties" name="parameters">
    </part>
  </message>
  <message name="getRepositoriesRequest">
    <part element="cmism:getRepositories" name="parameters">
    </part>
  </message>
  <message name="createRelationshipRequest">
    <part element="cmism:createRelationship" name="parameters">
    </part>
  </message>
  <message name="removePolicyResponse">
    <part element="cmism:removePolicyResponse" name="parameters">
    </part>
  </message>
  <message name="checkOutResponse">
    <part element="cmism:checkOutResponse" name="parameters">
    </part>
  </message>
  <message name="getChildrenRequest">
    <part element="cmism:getChildren" name="parameters">
    </part>
  </message>
  <message name="moveObjectResponse">
    <part element="cmism:moveObjectResponse" name="parameters">
    </part>
  </message>
  <message name="deleteObjectResponse">
    <part element="cmism:deleteObjectResponse" name="parameters">
    </part>
  </message>
  <message name="getObjectParentsResponse">
    <part element="cmism:getObjectParentsResponse" name="parameters">
    </part>
  </message>
  <message name="createRelationshipResponse">
    <part element="cmism:createRelationshipResponse" name="parameters">
    </part>
  </message>
  <message name="getPropertiesOfLatestVersionRequest">
    <part element="cmism:getPropertiesOfLatestVersion" name="parameters">
    </part>
  </message>
  <message name="updatePropertiesResponse">
    <part element="cmism:updatePropertiesResponse" name="parameters">
    </part>
  </message>
  <message name="removeObjectFromFolderResponse">
    <part element="cmism:removeObjectFromFolderResponse" name="parameters">
    </part>
  </message>
  <message name="getObjectOfLatestVersionResponse">
    <part element="cmism:getObjectOfLatestVersionResponse" name="parameters">
    </part>
  </message>
  <message name="getRepositoriesResponse">
    <part element="cmism:getRepositoriesResponse" name="parameters">
    </part>
  </message>
  <message name="createDocumentResponse">
    <part element="cmism:createDocumentResponse" name="parameters">
    </part>
  </message>
  <message name="moveObjectRequest">
    <part element="cmism:moveObject" name="parameters">
    </part>
  </message>
  <message name="queryResponse">
    <part element="cmism:queryResponse" name="parameters">
    </part>
  </message>
  <message name="getContentStreamResponse">
    <part element="cmism:getContentStreamResponse" name="parameters">
    </part>
  </message>
  <message name="getObjectParentsRequest">
    <part element="cmism:getObjectParents" name="parameters">
    </part>
  </message>
  <message name="getACLResponse">
    <part element="cmism:getACLResponse" name="parameters">
    </part>
  </message>
  <message name="setContentStreamResponse">
    <part element="cmism:setContentStreamResponse" name="parameters">
    </part>
  </message>
  <message name="deleteObjectRequest">
    <part element="cmism:deleteObject" name="parameters">
    </part>
  </message>
  <message name="applyACLRequest">
    <part element="cmism:applyACL" name="parameters">
    </part>
  </message>
  <message name="deleteContentStreamRequest">
    <part element="cmism:deleteContentStream" name="parameters">
    </part>
  </message>
  <message name="createFolderRequest">
    <part element="cmism:createFolder" name="parameters">
    </part>
  </message>
  <message name="getDescendantsRequest">
    <part element="cmism:getDescendants" name="parameters">
    </part>
  </message>
  <message name="getAllowableActionsRequest">
    <part element="cmism:getAllowableActions" name="parameters">
    </part>
  </message>
  <message name="applyPolicyResponse">
    <part element="cmism:applyPolicyResponse" name="parameters">
    </part>
  </message>
  <message name="removePolicyRequest">
    <part element="cmism:removePolicy" name="parameters">
    </part>
  </message>
  <message name="getRenditionsRequest">
    <part element="cmism:getRenditions" name="parameters">
    </part>
  </message>
  <message name="getDescendantsResponse">
    <part element="cmism:getDescendantsResponse" name="parameters">
    </part>
  </message>
  <message name="cancelCheckOutResponse">
    <part element="cmism:cancelCheckOutResponse" name="parameters">
    </part>
  </message>
  <message name="getACLRequest">
    <part element="cmism:getACL" name="parameters">
    </part>
  </message>
  <message name="addObjectToFolderResponse">
    <part element="cmism:addObjectToFolderResponse" name="parameters">
    </part>
  </message>
  <message name="getPropertiesResponse">
    <part element="cmism:getPropertiesResponse" name="parameters">
    </part>
  </message>
  <message name="getAllVersionsRequest">
    <part element="cmism:getAllVersions" name="parameters">
    </part>
  </message>
  <message name="getTypeChildrenResponse">
    <part element="cmism:getTypeChildrenResponse" name="parameters">
    </part>
  </message>
  <message name="getFolderTreeRequest">
    <part element="cmism:getFolderTree" name="parameters">
    </part>
  </message>
  <message name="getObjectResponse">
    <part element="cmism:getObjectResponse" name="parameters">
    </part>
  </message>
  <portType name="NavigationServicePort">
    <operation name="getDescendants">
      <input message="cmisw:getDescendantsRequest">
    </input>
      <output message="cmisw:getDescendantsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getChildren">
      <input message="cmisw:getChildrenRequest">
    </input>
      <output message="cmisw:getChildrenResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getFolderParent">
      <input message="cmisw:getFolderParentRequest">
    </input>
      <output message="cmisw:getFolderParentResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getFolderTree">
      <input message="cmisw:getFolderTreeRequest">
    </input>
      <output message="cmisw:getFolderTreeResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getObjectParents">
      <input message="cmisw:getObjectParentsRequest">
    </input>
      <output message="cmisw:getObjectParentsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getCheckedOutDocs">
      <input message="cmisw:getCheckedOutDocsRequest">
    </input>
      <output message="cmisw:getCheckedOutDocsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="RelationshipServicePort">
    <operation name="getObjectRelationships">
      <input message="cmisw:getObjectRelationshipsRequest">
    </input>
      <output message="cmisw:getObjectRelationshipsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="MultiFilingServicePort">
    <operation name="addObjectToFolder">
      <input message="cmisw:addObjectToFolderRequest">
    </input>
      <output message="cmisw:addObjectToFolderResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="removeObjectFromFolder">
      <input message="cmisw:removeObjectFromFolderRequest">
    </input>
      <output message="cmisw:removeObjectFromFolderResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="ObjectServicePort">
    <operation name="createDocument">
      <input message="cmisw:createDocumentRequest">
    </input>
      <output message="cmisw:createDocumentResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="createDocumentFromSource">
      <input message="cmisw:createDocumentFromSourceRequest">
    </input>
      <output message="cmisw:createDocumentFromSourceResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="createFolder">
      <input message="cmisw:createFolderRequest">
    </input>
      <output message="cmisw:createFolderResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="createRelationship">
      <input message="cmisw:createRelationshipRequest">
    </input>
      <output message="cmisw:createRelationshipResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="createPolicy">
      <input message="cmisw:createPolicyRequest">
    </input>
      <output message="cmisw:createPolicyResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getAllowableActions">
      <input message="cmisw:getAllowableActionsRequest">
    </input>
      <output message="cmisw:getAllowableActionsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getObject">
      <input message="cmisw:getObjectRequest">
    </input>
      <output message="cmisw:getObjectResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getProperties">
      <input message="cmisw:getPropertiesRequest">
    </input>
      <output message="cmisw:getPropertiesResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getRenditions">
      <input message="cmisw:getRenditionsRequest">
    </input>
      <output message="cmisw:getRenditionsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getObjectByPath">
      <input message="cmisw:getObjectByPathRequest">
    </input>
      <output message="cmisw:getObjectByPathResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getContentStream">
      <input message="cmisw:getContentStreamRequest">
    </input>
      <output message="cmisw:getContentStreamResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="updateProperties">
      <input message="cmisw:updatePropertiesRequest">
    </input>
      <output message="cmisw:updatePropertiesResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="moveObject">
      <input message="cmisw:moveObjectRequest">
    </input>
      <output message="cmisw:moveObjectResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="deleteObject">
      <input message="cmisw:deleteObjectRequest">
    </input>
      <output message="cmisw:deleteObjectResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="deleteTree">
      <input message="cmisw:deleteTreeRequest">
    </input>
      <output message="cmisw:deleteTreeResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="setContentStream">
      <input message="cmisw:setContentStreamRequest">
    </input>
      <output message="cmisw:setContentStreamResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="deleteContentStream">
      <input message="cmisw:deleteContentStreamRequest">
    </input>
      <output message="cmisw:deleteContentStreamResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="DiscoveryServicePort">
    <operation name="query">
      <input message="cmisw:queryRequest">
    </input>
      <output message="cmisw:queryResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getContentChanges">
      <input message="cmisw:getContentChangesRequest">
    </input>
      <output message="cmisw:getContentChangesResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="ACLServicePort">
    <operation name="getACL">
      <input message="cmisw:getACLRequest">
    </input>
      <output message="cmisw:getACLResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="applyACL">
      <input message="cmisw:applyACLRequest">
    </input>
      <output message="cmisw:applyACLResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="PolicyServicePort">
    <operation name="applyPolicy">
      <input message="cmisw:applyPolicyRequest">
    </input>
      <output message="cmisw:applyPolicyResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="removePolicy">
      <input message="cmisw:removePolicyRequest">
    </input>
      <output message="cmisw:removePolicyResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getAppliedPolicies">
      <input message="cmisw:getAppliedPoliciesRequest">
    </input>
      <output message="cmisw:getAppliedPoliciesResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="VersioningServicePort">
    <operation name="checkOut">
      <input message="cmisw:checkOutRequest">
    </input>
      <output message="cmisw:checkOutResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="cancelCheckOut">
      <input message="cmisw:cancelCheckOutRequest">
    </input>
      <output message="cmisw:cancelCheckOutResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="checkIn">
      <input message="cmisw:checkInRequest">
    </input>
      <output message="cmisw:checkInResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getObjectOfLatestVersion">
      <input message="cmisw:getObjectOfLatestVersionRequest">
    </input>
      <output message="cmisw:getObjectOfLatestVersionResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getPropertiesOfLatestVersion">
      <input message="cmisw:getPropertiesOfLatestVersionRequest">
    </input>
      <output message="cmisw:getPropertiesOfLatestVersionResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getAllVersions">
      <input message="cmisw:getAllVersionsRequest">
    </input>
      <output message="cmisw:getAllVersionsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <portType name="RepositoryServicePort">
    <operation name="getRepositories">
      <input message="cmisw:getRepositoriesRequest">
    </input>
      <output message="cmisw:getRepositoriesResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getRepositoryInfo">
      <input message="cmisw:getRepositoryInfoRequest">
    </input>
      <output message="cmisw:getRepositoryInfoResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getTypeChildren">
      <input message="cmisw:getTypeChildrenRequest">
    </input>
      <output message="cmisw:getTypeChildrenResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getTypeDescendants">
      <input message="cmisw:getTypeDescendantsRequest">
    </input>
      <output message="cmisw:getTypeDescendantsResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
    <operation name="getTypeDefinition">
      <input message="cmisw:getTypeDefinitionRequest">
    </input>
      <output message="cmisw:getTypeDefinitionResponse">
    </output>
      <fault message="cmisw:cmisException" name="cmisException">
    </fault>
    </operation>
  </portType>
  <binding name="VersioningServicePortBinding" type="cmisw:VersioningServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="checkOut">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="cancelCheckOut">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="checkIn">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getObjectOfLatestVersion">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getPropertiesOfLatestVersion">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getAllVersions">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="NavigationServicePortBinding" type="cmisw:NavigationServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="getDescendants">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getChildren">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getFolderParent">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getFolderTree">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getObjectParents">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getCheckedOutDocs">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="MultiFilingServicePortBinding" type="cmisw:MultiFilingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="addObjectToFolder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="removeObjectFromFolder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="PolicyServicePortBinding" type="cmisw:PolicyServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="applyPolicy">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="removePolicy">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getAppliedPolicies">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="DiscoveryServicePortBinding" type="cmisw:DiscoveryServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="query">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getContentChanges">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="ObjectServicePortBinding" type="cmisw:ObjectServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="createDocument">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="createDocumentFromSource">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="createFolder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="createRelationship">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="createPolicy">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getAllowableActions">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getObject">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getProperties">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getRenditions">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getObjectByPath">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getContentStream">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="updateProperties">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="moveObject">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="deleteObject">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="deleteTree">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="setContentStream">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="deleteContentStream">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="ACLServicePortBinding" type="cmisw:ACLServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="getACL">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="applyACL">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="RepositoryServicePortBinding" type="cmisw:RepositoryServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="getRepositories">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getRepositoryInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getTypeChildren">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getTypeDescendants">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getTypeDefinition">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <binding name="RelationshipServicePortBinding" type="cmisw:RelationshipServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="getObjectRelationships">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="cmisException">
        <soap:fault name="cmisException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="MultiFilingService">
    <port binding="cmisw:MultiFilingServicePortBinding" name="MultiFilingServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/MultiFilingService/MultiFilingServicePort"></soap:address>
    </port>
  </service>
  <service name="RelationshipService">
    <port binding="cmisw:RelationshipServicePortBinding" name="RelationshipServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/RelationshipService/RelationshipServicePort"></soap:address>
    </port>
  </service>
  <service name="ObjectService">
    <port binding="cmisw:ObjectServicePortBinding" name="ObjectServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/ObjectService/ObjectServicePort"></soap:address>
    </port>
  </service>
  <service name="VersioningService">
    <port binding="cmisw:VersioningServicePortBinding" name="VersioningServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/VersioningService/VersioningServicePort"></soap:address>
    </port>
  </service>
  <service name="RepositoryService">
    <port binding="cmisw:RepositoryServicePortBinding" name="RepositoryServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/RepositoryService/RepositoryServicePort"></soap:address>
    </port>
  </service>
  <service name="NavigationService">
    <port binding="cmisw:NavigationServicePortBinding" name="NavigationServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/NavigationService/NavigationServicePort"></soap:address>
    </port>
  </service>
  <service name="PolicyService">
    <port binding="cmisw:PolicyServicePortBinding" name="PolicyServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/PolicyService/PolicyServicePort"></soap:address>
    </port>
  </service>
  <service name="ACLService">
    <port binding="cmisw:ACLServicePortBinding" name="ACLServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/ACLService/AccessControlServicePort"></soap:address>
    </port>
  </service>
  <service name="DiscoveryService">
    <port binding="cmisw:DiscoveryServicePortBinding" name="DiscoveryServicePort">
      <soap:address location="http://xcmis.org:8083/xcmis/cmisws/DiscoveryService/DiscoveryServicePort"></soap:address>
    </port>
  </service>
</definitions>